<div class="container">
    <div class="card">
        <img src="assets/nonveg/chicken.jpg"  alt="Chicken">
        <div class="">Chicken</div>
        <select class="add">
            <option>1/2Kg - ₹25</option>
            <option>1Kg - ₹50</option>
            <option>1.5Kg - ₹70</option>
            <option>2Kg - ₹85</option>
        </select>
        <small>Delivered by -today Evening</small>
        <div class="some">Quantity</div>
        <select class="add ">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
        </select>
        <div>
        <button>ADD</button>
        </div>
    </div>   
    <div class="card">
        <img src="assets/nonveg/chickenboneless.jpg"  alt="chickenboneless"> 
        <div class="some">Chickenboneless</div>
        <select class="add">
            <option>1/2Kg - ₹40</option>
            <option>1Kg - ₹80</option>
            <option>1.5Kg - ₹110</option>
            <option>2Kg - ₹150</option>
        </select>
        <small>Delivered by -today Evening</small>
        <div class="some">Quantity</div>
        <select class="add">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
        </select>
        <button>ADD</button>
    </div>  
    <div class="card">
        <img src="assets/nonveg/chickendrumstick.jpg"  alt="chickendrumstick"> 
        <div class="some">chickendrumstick</div>
        <select class="add">
            <option>1/2Kg - ₹60</option>
            <option>1Kg - ₹120</option>
            <option>1.5Kg - ₹170</option>
            <option>2Kg - ₹185</option>
        </select>
        <small>Delivered by -today Evening</small>
        <div class="some">Quantity</div>
        <select class="add">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
        </select>
        <button>ADD</button>
    </div>  
    <div class="card">
        <img src="assets/nonveg/catlafish.jpg"  alt="catlafish"> 
        <div class="some">Catlafish</div>
        <select class="add">
            <option>50gm - ₹10</option>
            <option>100gm - ₹20</option>
            <option>500gm - ₹100</option>
            <option>1Kg - ₹200</option>
        </select>
        <small>Delivered by -today Evening</small>
        <div class="some">Quantity</div>
        <select class="add">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
        </select>
        <button>ADD</button>
    </div>  
 </div>  
 <div class="container1">
    <div class="card">
        <img src="assets/nonveg/eggs.jpg"  alt="eggs">
        <div class="some">Eggs</div>
        <select class="add">
            <option>1/2Kg - ₹25</option>
            <option>1Kg - ₹50</option>
            <option>1.5Kg - ₹70</option>
            <option>2Kg - ₹85</option>
        </select>
        <small>Delivered by -today Evening</small>
        <div class="some">Quantity</div>
        <select class="add ">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
        </select>
        <div>
        <button>ADD</button>
        </div>
    </div>   
    <div class="card">
        <img src="assets/nonveg/mutton.jpg"  alt="mutton"> 
        <div class="some">Mutton</div>
        <select class="add">
            <option>1/2Kg - ₹40</option>
            <option>1Kg - ₹80</option>
            <option>1.5Kg - ₹110</option>
            <option>2Kg - ₹150</option>
        </select>
        <small>Delivered by -today Evening</small>
        <div class="some">Quantity</div>
        <select class="add">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
        </select>
        <button>ADD</button>
    </div>  
    <div class="card">
        <img src="assets/nonveg/prawns.jpg"  alt="Prawns"> 
        <div class="some">Prawns</div>
        <select class="add">
            <option>1/2Kg - ₹60</option>
            <option>1Kg - ₹120</option>
            <option>1.5Kg - ₹170</option>
            <option>2Kg - ₹185</option>
        </select>
        <small>Delivered by -today Evening</small>
        <div class="some">Quantity</div>
        <select class="add">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
        </select>
        <button>ADD</button>
    </div>  
    <div class="card">
        <img src="assets/nonveg/salmonfish.jpg"  alt="salmonfish"> 
        <div class="some">Salmonfish</div>
        <select class="add">
            <option>50gm - ₹10</option>
            <option>100gm - ₹20</option>
            <option>500gm - ₹100</option>
            <option>1Kg - ₹200</option>
        </select>
        <small>Delivered by -today Evening</small>
        <div class="some">Quantity</div>
        <select class="add">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
        </select>
        <button>ADD</button>
    </div>  
 </div>    
 