<div class="demo">
    <img src="assets/logo/bigB3.jpg" alt="BigBasket">
       <div>
           <div class="some">
               <label for="name">Username</label>
               <input class="form-control" id="name" type="text">
           </div>
           <div class="some">
            <label for="pass">Password</label>
            <input class="form-control" id="pass" type="Password">
           </div>
       </div>
       <div class="special">
           <button (click)=login()>login</button>
       </div>
</div>