<div class="container">
    <div class="card">
        <img src="assets/vegetables/sweetpotato.jpg"  alt="SweetPotato">
        <div class="some">SweetPotato</div>
        <select class="add">
            <option>1/2Kg - ₹25</option>
            <option>1Kg - ₹50</option>
            <option>1.5Kg - ₹70</option>
            <option>2Kg - ₹85</option>
        </select>
        <small>Delivered by -today Evening</small>
        <div class="some">Quantity</div>
        <select class="add ">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
        </select>
        <div>
        <button>ADD</button>
        </div>
    </div>   
    <div class="card">
        <img src="assets/vegetables/carrot.jpg"  alt="Carrot"> 
        <div class="some">Carrot</div>
        <select class="add">
            <option>1/2Kg - ₹40</option>
            <option>1Kg - ₹80</option>
            <option>1.5Kg - ₹110</option>
            <option>2Kg - ₹150</option>
        </select>
        <small>Delivered by -today Evening</small>
        <div class="some">Quantity</div>
        <select class="add">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
        </select>
        <button>ADD</button>
    </div>  
    <div class="card">
        <img src="assets/vegetables/beetroot.jpg"  alt="Beetroot"> 
        <div class="some">Beetroot</div>
        <select class="add">
            <option>1/2Kg - ₹60</option>
            <option>1Kg - ₹120</option>
            <option>1.5Kg - ₹170</option>
            <option>2Kg - ₹185</option>
        </select>
        <small>Delivered by -today Evening</small>
        <div class="some">Quantity</div>
        <select class="add">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
        </select>
        <button>ADD</button>
    </div>  
    <div class="card">
        <img src="assets/vegetables/ginger.jpg"  alt="Ginger"> 
        <div class="some">Ginger</div>
        <select class="add">
            <option>50gm - ₹10</option>
            <option>100gm - ₹20</option>
            <option>500gm - ₹100</option>
            <option>1Kg - ₹200</option>
        </select>
        <small>Delivered by -today Evening</small>
        <div class="some">Quantity</div>
        <select class="add">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
        </select>
        <button>ADD</button>
    </div>  
 </div>  
 <div class="container1">
    <div class="card">
        <img src="assets/vegetables/sweetpotato.jpg" (click)="potato()"  alt="SweetPotato">
        <div class="some">SweetPotato</div>
        <select class="add">
            <option>1/2Kg - ₹25</option>
            <option>1Kg - ₹50</option>
            <option>1.5Kg - ₹70</option>
            <option>2Kg - ₹85</option>
        </select>
        <small>Delivered by -today Evening</small>
        <div class="some">Quantity</div>
        <select class="add ">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
        </select>
        <div>
        <button>ADD</button>
        </div>
    </div>   
    <div class="card">
        <img src="assets/vegetables/carrot.jpg"   alt="Carrot"> 
        <div class="some">Carrot</div>
        <select class="add">
            <option>1/2Kg - ₹40</option>
            <option>1Kg - ₹80</option>
            <option>1.5Kg - ₹110</option>
            <option>2Kg - ₹150</option>
        </select>
        <small>Delivered by -today Evening</small>
        <div class="some">Quantity</div>
        <select class="add">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
        </select>
        <button>ADD</button>
    </div>  
    <div class="card">
        <img src="assets/vegetables/beetroot.jpg"  alt="Beetroot"> 
        <div class="some">Beetroot</div>
        <select class="add">
            <option>1/2Kg - ₹60</option>
            <option>1Kg - ₹120</option>
            <option>1.5Kg - ₹170</option>
            <option>2Kg - ₹185</option>
        </select>
        <small>Delivered by -today Evening</small>
        <div class="some">Quantity</div>
        <select class="add">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
        </select>
        <button>ADD</button>
    </div>  
    <div class="card">
        <img src="assets/vegetables/ginger.jpg"  alt="Ginger"> 
        <div class="some">Ginger</div>
        <select class="add">
            <option>50gm - ₹10</option>
            <option>100gm - ₹20</option>
            <option>500gm - ₹100</option>
            <option>1Kg - ₹200</option>
        </select>
        <small>Delivered by -today Evening</small>
        <div class="some">Quantity</div>
        <select class="add">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
        </select>
        <button>ADD</button>
    </div>  
 </div>    
 