<div class="container">
    <div class="card">
        <img src="assets/fruits/apple.jpg"  alt="Apple">
        <div class="">Apple</div>
        <select class="add">
            <option>1/2Kg - ₹25</option>
            <option>1Kg - ₹50</option>
            <option>1.5Kg - ₹70</option>
            <option>2Kg - ₹85</option>
        </select>
        <small>Delivered by -today Evening</small>
        <div class="some">Quantity</div>
        <select class="add ">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
        </select>
        <div>
        <button>ADD</button>
        </div>
    </div>   
    <div class="card">
        <img src="assets/fruits/applegreen.jpg"  alt="Green apple"> 
        <div class="some">Green Apple</div>
        <select class="add">
            <option>1/2Kg - ₹40</option>
            <option>1Kg - ₹80</option>
            <option>1.5Kg - ₹110</option>
            <option>2Kg - ₹150</option>
        </select>
        <small>Delivered by -today Evening</small>
        <div class="some">Quantity</div>
        <select class="add">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
        </select>
        <button>ADD</button>
    </div>  
    <div class="card">
        <img src="assets/fruits/blueberry.jpg"  alt="Blueberry"> 
        <div class="some">Bluebeery</div>
        <select class="add">
            <option>1/2Kg - ₹60</option>
            <option>1Kg - ₹120</option>
            <option>1.5Kg - ₹170</option>
            <option>2Kg - ₹185</option>
        </select>
        <small>Delivered by -today Evening</small>
        <div class="some">Quantity</div>
        <select class="add">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
        </select>
        <button>ADD</button>
    </div>  
    <div class="card">
        <img src="assets/fruits/blackberry.jpg"  alt="Blackberry"> 
        <div class="some">Blackberry</div>
        <select class="add">
            <option>50gm - ₹10</option>
            <option>100gm - ₹20</option>
            <option>500gm - ₹100</option>
            <option>1Kg - ₹200</option>
        </select>
        <small>Delivered by -today Evening</small>
        <div class="some">Quantity</div>
        <select class="add">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
        </select>
        <button>ADD</button>
    </div>  
 </div>  
 <div class="container1">
    <div class="card">
        <img src="assets/fruits/banana.jpg"  alt="Banana">
        <div class="some">Banana</div>
        <select class="add">
            <option>1/2Kg - ₹25</option>
            <option>1Kg - ₹50</option>
            <option>1.5Kg - ₹70</option>
            <option>2Kg - ₹85</option>
        </select>
        <small>Delivered by -today Evening</small>
        <div class="some">Quantity</div>
        <select class="add ">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
        </select>
        <div>
        <button>ADD</button>
        </div>
    </div>   
    <div class="card">
        <img src="assets/fruits/avocoda.jpg"  alt="Avocado"> 
        <div class="some">Avocado</div>
        <select class="add">
            <option>1/2Kg - ₹40</option>
            <option>1Kg - ₹80</option>
            <option>1.5Kg - ₹110</option>
            <option>2Kg - ₹150</option>
        </select>
        <small>Delivered by -today Evening</small>
        <div class="some">Quantity</div>
        <select class="add">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
        </select>
        <button>ADD</button>
    </div>  
    <div class="card">
        <img src="assets/fruits/dragon.jpg"  alt="Dragon"> 
        <div class="some">Dragon Fruit</div>
        <select class="add">
            <option>1/2Kg - ₹60</option>
            <option>1Kg - ₹120</option>
            <option>1.5Kg - ₹170</option>
            <option>2Kg - ₹185</option>
        </select>
        <small>Delivered by -today Evening</small>
        <div class="some">Quantity</div>
        <select class="add">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
        </select>
        <button>ADD</button>
    </div>  
    <div class="card">
        <img src="assets/fruits/custard.jpg"  alt="Custard"> 
        <div class="some">Custard Apple</div>
        <select class="add">
            <option>50gm - ₹10</option>
            <option>100gm - ₹20</option>
            <option>500gm - ₹100</option>
            <option>1Kg - ₹200</option>
        </select>
        <small>Delivered by -today Evening</small>
        <div class="some">Quantity</div>
        <select class="add">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
        </select>
        <button>ADD</button>
    </div>  
 </div>    
 